<launch>
  <include file="$(find uuv_gazebo_worlds)/launch/empty_underwater_world.launch">
  <arg name="paused" value="false"/>
  </include>

  <include file="$(find uuv_gazebo)/launch/rexrov_demos/rexrov_default.launch">
    <arg name="namespace" value="rexrov"/>
  </include>

  <include file="$(find uuv_teleop)/launch/uuv_keyboard_teleop.launch">
    <arg name="uuv_name" value="rexrov"/>
  </include>
</launch>